
body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* HEADER ============================== */
#header {
  width: 100%;
  position: absolute;
}

.header-wrap {
  height: 100px;
}

.logo-wrap {
  position: relative;
  left: -5px;
}

.nav-list-wrap {
  position: relative;
  left: 10px;
}

.nav-list-item a {
  margin: 20px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.nav-link::after {
  content: "";
  width: 0;
  position: absolute;
  top: 120%;
  left: -2px;
  height: 2px;
  background-color: #eefab9;
  display: inline-block;
  transition: all 0.5s ease;
}

.nav-list-item a:hover::after {
  width: 100%;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  margin-left: 20px;
  font-size: 25px;
}
/* /HEADER ============================== */


/* HERO ============================== */
#hero {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  position: relative;
  top: 320px;
  left: 0;
  animation-name: hero-animation;
  animation-duration: 1s;
}

.hero-title {
  position: relative;
  margin-top: 0;
  font-size: 64px;
  font-weight: 600;
  color: #ffffff;
  animation-name: hero-animation;
  animation-duration: 0.8s;
}

span {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.hero-btn {
  padding: 15px 25px;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 3px;
}
/* /HERO ============================== */

/* OFFER ============================== */
.offer-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.offer-card {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.offer-card:hover img {
  transform: scale(1.1);
}

.offer-card img {
  width: 100%;
  position: absolute;
  transform: scale(1);
  transition: all .8s ease;
  overflow: hidden;
  z-index: -1;
}

.offer-card-text {
  padding-left: 40px;
  padding-top: 50px;
}

.offer-card-text span {
  color: #505f74;
}

.offer-card-title {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: capitalize;
  line-height: 1.3;
}

.offer-card-btn {
  font-size: 14px;
  font-weight: 700;
  font-family: "Barlow Condensed",sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px 0;
  border-bottom: 3px solid #d88f0f;
  margin-top: 20px;
  display: inline-block;
  background: transparent;
  color: #222;
}

/* FURNITURE */

.furniture-title-links {
  padding-top: 50px;
}

.furniture-title-link {
  margin: 30px;
  position: relative;
  font-size: 20px;
  color: #888;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s;
}

.furniture-title-link::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #e8bc6f;
  transition: all 0.5s ease;
}

.furniture-title-link:hover::after {
  width: 100%;
}

.furniture-title-link:hover{
  color: #222;
}

.active::after {
  width: 100%;
}

.active {
  color: #222;
}

/* FURNITURES */

.row1 {
  margin-top: 15px;
}

.row2 {
  margin-top: 20px;
}

.fur-card {
  width: 240px;
  position: relative;
}

.fur-card::before {
  content: 'New';
  position: absolute;
  top: 10px;
  left: 15px;
  display: inline-block;
  padding: 0 6px;
  margin: 2px 0;
  color: #FFF;
  background: #2fb5d2;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}

.fur-card-img {
  width: 100%;
}

.fur-card-brand-wrap {
  margin-top: 20px;
}

.fur-card-brand {
  color: #a3a3a3;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Barlow Condensed",sans-serif;
}

.stars {
  font-size: 12px;
}

.fur-card-p {
  color: #222;
  font-size: 14px;
  /* font-family: "Harmonia Sans Pro Cyr"; */
  font-weight: 400;
  text-decoration: none;
  overflow: hidden;
  line-height: 23px;
  text-transform: uppercase;
}

.price-wrap {
  margin-top: 5px;
}

.discount {
  color: #888;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
}

.price {
  color: #222;
  font-weight: 700;
  /* font-family: "Harmonia Sans Pro Cyr"; */
  font-size: 1rem;
}

.fur-card-hover-icons {
  position: relative;
}

.hover-icon {
  position: absolute;
  top: 210px;
  left: 40px;
  background: #222;
  padding: 12px;
  margin: 5px;
  opacity: 0;
  transition: all .3s ease;
}

.icon1 {
  left: 90px;
  transition-delay: 0.2s;
}

.icon2 {
  left: 40px;
  transition-delay: 0.1s;
}

.icon3 {
  left: 140px;
  transition-delay: 0.3s;

}


.hover-icon i {
  width: 20px;
  height: 20px;
}

.fur-card:hover .hover-icon {
  transform: translateY(15px);
  opacity: 1;
}

.hover-icon:hover {
  background-color: #eb9901;
  transition: 0s;
  transition-delay: 0s;
}

.fur-card-brand:hover,
.fur-card-p:hover {
  color: #e29505;
}

.furniture-btn {
  margin-top: 50px;
}

.fur-btn {
  background: transparent;
  border: 1px solid #999;
  clear: both;
  height: 60px;
  min-width: 280px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 20px 100px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #222;
  font-weight: 600;
  font-family: "Barlow Condensed",sans-serif;
}

.fur-btn:hover {
  background-color: #d88f0f;
  border-color: #d88f0f;
  color: #fff;
}
/* /OFFER ============================== */

/* BLOG ============================== */
.blog-text {
  padding-top: 80px;
}

.blog-title {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: capitalize;
  line-height: 1.3;
}

.blog-p {
  margin-top: 5px;
  color: #666;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.blog-cards {
  margin-top: 50px;
}

.blog-card img {
  width: 420px;
  transform: scale(1);
}

.blog-image {
  height: 300px;
  overflow: hidden;
}

.blog-image img {
  transition: all 1s ease-in-out;
}

.blog-card:hover .blog-image img {
  transform: rotate(2deg) scale(1.1);
}

.blog-card-title  {
  padding-top: 15px;
}

.blog-card-title a {
  color: #222;
}

.blog-card-time,
.blog-card-p {
  color: #666;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.blog-card-time {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 12px;
}

.blog-card-btn {
  margin-top: 20px;
  display: inline-block;
  padding-bottom: 3px;
  color: #222;
  font-size: 16px;
  border-bottom: 1px solid;
}

.blog-card-btn:hover,
.blog-card-title:hover a {
  color: #d88f0f;
}

.blog-btn-wrap {
  margin-top: 50px;
}

.blog-btn {
  background: transparent;
  border: 1px solid #999;
  clear: both;
  height: 60px;
  min-width: 280px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 20px 70px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #222;
  font-weight: 600;
  font-family: "Barlow Condensed",sans-serif;
}

.blog-btn:hover {
  background: #222;
  color: #fff;
}
/* /BLOG ============================== */

/* KEY FRAMES ============================== */
@keyframes hero-animation {
  0% {
    left: -99px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/* /KEY FRAMES ============================== */
